In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re
import time

In [7]:
df_features = pd.read_csv("df_features.csv")
df_show_info = pd.read_csv("df_show_info.csv")

# Sentiment Analysis on extracted News

In [3]:
from textblob import TextBlob
data = pd.read_csv("companies.csv")
comp = data["Title"].tolist()
l = []
name = []
val = []
for i in range(0,len(comp)):
    k = df_features[df_features['Article Content'].str.contains(comp[i])]
    k = k["Article Content"].str.cat(sep=' ')
    blob = TextBlob(k)
    name.append(comp[i])
    val.append(blob.sentiment.polarity)
#     print(comp[i],blob.sentiment.polarity)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [4]:
df_fin = pd.DataFrame(list(zip(name, val)), 
               columns =['Name', 'val']) 
df_fin

                                   Name       val
0                               Walmart  0.108196
1                    Berkshire Hathaway  0.000000
2                                 Apple  0.110598
3                           Exxon Mobil  0.119538
4                              McKesson  0.111118
5                    UnitedHealth Group  0.114806
6                            CVS Health  0.111118
7                        General Motors  0.115155
8                                  AT&T  0.000000
9                            Ford Motor  0.111118
10                    AmerisourceBergen  0.000000
11                           Amazon.com  0.000000
12                     General Electric  0.115155
13                              Verizon  0.111118
14                      Cardinal Health  0.111118
15                               Costco  0.000000
16             Walgreens Boots Alliance  0.000000
17                               Kroger  0.124998
18                              Chevron  0.114806
19                           Fannie Mae  0.000000
20                    J.P. Morgan Chase  0.076928
21              Express Scripts Holding  0.000000
22                           Home Depot  0.140304
23                               Boeing  0.133824
24                          Wells Fargo  0.114806
25                Bank of America Corp.  0.000000
26                             Alphabet  0.111118
27                            Microsoft  0.107102
28                               Anthem  0.111118
29                            Citigroup  0.114806
..                                  ...       ...
470                              Fiserv  0.000000
471               Host Hotels & Resorts  0.000000
472                 Insight Enterprises  0.000000
473                              Mattel  0.125351
474          AmTrust Financial Services  0.000000
475                Cincinnati Financial  0.000000
476                Simon Property Group  0.111118
477                       Western Union  0.000000
478                             KeyCorp  0.000000
479                   Delek US Holdings  0.000000
480         Booz Allen Hamilton Holding  0.000000
481                            Chemours  0.000000
482  Western & Southern Financial Group  0.000000
483                            Celanese  0.000000
484                 Windstream Holdings  0.000000
485                            Seaboard  0.111118
486                           Essendant  0.000000
487                              Apache  0.000000
488                              Airgas  0.000000
489                      Kelly Services  0.000000
490                       Liberty Media  0.111118
491                    Rockwell Collins  0.000000
492           Robert Half International  0.000000
493                           CH2M Hill  0.000000
494                            Big Lots  0.000000
495                       Michaels Cos.  0.000000
496                       Toll Brothers  0.000000
497                               Yahoo -0.034899
498                       Vistra Energy  0.000000
499                      ABM Industries  0.000000

[500 rows x 2 columns]

# Data Wrangling for output file

In [5]:
df_fin=df_fin[df_fin['val']>0]
df_fin=df_fin.sort_values(['val','Name'],ascending=False)
name=[]
val=[]
df_fin_new = df_fin.head(10)
df_fin_new = df_fin_new.reset_index(drop=True)
df_combined=pd.concat([df_features,df_show_info],axis=1)
b=[]
for i in range(len(df_fin_new)):
    a=[]
    df=df_combined[df_combined['Article Content'].str.contains(df_fin_new['Name'].values[i])]
    for j in range(len(df)):
        a.append(df['Article Title'].values[j])
    b.append(a)
    
new_df=pd.DataFrame({'Article Title':b})

dff=pd.concat([df_fin_new,new_df],axis=1)
dff.to_csv('output.csv')

In [6]:
dff

,Name,val,Article Title
0,Disney,0.223947,[How much are you binge watching? Study finds ...
1,Supervalu,0.207796,[Matt Damon delights locals as he isolates in ...
2,Lear,0.182723,[Michigan doctor claims he will prove how long...
3,Home Depot,0.140304,[What face mask should YOU choose? As several ...
4,Boeing,0.133824,[British Airways Airbus crashes into an Emirat...
5,United Natural Foods,0.132489,[Outrage as Whole Foods in DC stayed open afte...
6,Williams,0.127622,[Trump prepares for day of talks with his 'reo...
7,Mattel,0.125351,[Hall of Fame defensive end Willie Davis dies ...
8,Dow Chemical,0.125351,[Hall of Fame defensive end Willie Davis dies ...
9,Kroger,0.124998,[Trump prepares for day of talks with his 'reo...